body {
   font-family: "PNova-Regular", sans-serif;
   color: #333d51;
}

.container {
   max-width: 1110px;
   margin: 0 auto;
   padding: 0px 15px;
}

.enchorToNews {
   text-align: left;
   margin-top: 60px;
   color: #004fec;
}
.title-block {
   text-align: left;
   margin-bottom: 75px;
}
.main-title {
   font-size: 60px;
   line-height: 93%;
}
